# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/

# Data / artifacts
data/
*.csv
*.tsv
*.parquet
*.zip
*.h5
*.model

# Caches
.conda/
.kaggle/
